.footer {
    background-color: white;
    height: 50px;
    text-align: center;
    border-bottom: 5px solid #F1FF6D;
}
.footerText {
text-decoration: none;
  font-weight: 1000;
  color: #573307;
  padding: 7.5px;
  border-bottom: 5px solid #072e08;
}
.footerText:hover{
    font-size: 20px;
    -webkit-transition: all 1s ease; 
  }

@media (max-width: 440px) {
    .footerText {
        padding-top: 17.5px;
        font-size: 12px;
    }
}

@media (max-width: 330px) {
    .footerText {
        padding-top: 20px;
        font-size: 10px;
    }
}